<form action="/users/upload" enctype="multipart/form-data" method="post">
    <div>
        <input type="text" name="title" value="avatar" id="" hidden/>
    </div>
    <div>
        File: <input type="file" name="archivo" multiple="multiple" id=""/>
    </div>
    <input type="submit" value="upload">
</form>