<%- include('./partials/head.ejs')  %>
<div class="container bg-warning bg-opacity-25 p-3">
  <h1 class="text-center"><%= title %> </h1>
  <div class="row d-flex justify-content-center">
  </div>
</div>
<%- include('./partials/footer.ejs')  %>